:80 {
        root * /usr/share/caddy
        file_server
        handle_path /api/* {
              reverse_proxy "{$BACKEND_URL}" {
                 header_up host "{$BACKEND_HOST}"
              }
        }
}